<!-- As a heading -->
    <nav class="navbar bg-body-tertiary data" data-bs-theme="dark">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Student Management</span>
            <a class="btn btn-primary" role="button" href="/AddStudent">Add a Student</a>
        </div>
    </nav>
