@page "/"

@inject LoginClient LoginClient

<PageTitle>Home</PageTitle>

@if (LoginClient.GetLoggedInUser().Username.Equals(String.Empty))
{
    <h1>Welcome to the Student Virtual Portal!</h1>
}
else
{
    <h1>Hello, @LoginClient.GetLoggedInUser().Name!</h1>
}
