@page "/"

@inject LoginClient loginClient

<PageTitle>Home</PageTitle>

@if (loginClient.GetLoggedInDetails().Username.Equals(String.Empty))
{
    <h1>Welcome to the Student Virtual Portal!</h1>
}
else
{
    <h1>Hello, @loginClient.GetLoggedInDetails().Name!</h1>
}
